.promo{
    background: url('img/webp/bg-main.webp') 50% 10% no-repeat;
    height: 625px;
    width: 100%;
    a{
        color: #fff;
        text-decoration: none;
    }
    &__header{
        display: grid;
        grid-template: 80px / 625px 270px;
        justify-content: space-between;
        align-items: center;
        transition: all 3s;
        &.f-nav{
            background-color: #000;
            justify-content: center;
            column-gap: 60px;
        }
    }
    &__inner{
        display: grid;
        grid-template: 1fr / 80px 110px;
        column-gap: 80px;
        align-items: center;
    }
    &__menu{
        text-transform: uppercase;
        font-family: 'Oranienbaum';
        &-list{
            font-size: 16px;
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
    }
    &__social{
        display: flex;
        width: 80px;
        justify-content: space-between;
        &-item{
            &:hover{
                svg path{
                    fill: $main-color;
                }
            }
            svg{
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
        }
    }
    &__phones{
        font-family: 'Oranienbaum';
        text-align: right;
        font-size: 15px;
        width: 105px;
    }
    &__logo{
        width: 212px;
        height: 147px;
        margin-top: 120px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        margin-top: 40px;
        font-family: 'Oranienbaum';
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        span{
            color: rgb(169, 140, 96);
            text-decoration: underline;
            font-size: 16px;
        }
    }
}

.hamburger{
    display: none;
}

.f-nav{ 
    z-index: 9999; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
} 